{% extends 'base_template.html' %}

{% block title %}Para añadir librodiario{% endblock %}

{% block content %}

<div class="container mt-4 ">
    <div class="card">
        <div class="card-header bg-dark">
           <strong>Empresa: </strong> {{current_user.empresa.nombre}}
        </div>
        <div class="card-body">
          <h5 class="card-title text-dark">
              Libro diario
          </h5>
          {% if not current_user.ldiario %}
          <div class="modal-dialog text-dark">
              <div class="modal-content">
                  <div class="modal-header text-white bg-dark">
                      <strong>Nuevo libro diario</strong>
                  </div>
                  <div class="modal-body">
                      <form action="" method="post">
                          {{form.hidden_tag()}}
                          <div class="form-group">
                              {{form.name.label}}
                              {{form.name}}
                          </div>
                          <div class="form-group">
                              {{form.descripcion.label}}
                              {{form.descripcion}}
                          </div>
                          <button class="btn btn-success">Agregar</button>
                      </form>
                  </div>
              </div>
          </div>
          {% else %}
          <div class="card-header text-dark">
            {% for ld in current_user.ldiario  %}
            <p><strong>{{ld.nombre}}</strong></p>
            {% endfor %}

            <div class="accordion" id="accordionExample">
        
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Ver partidas
                        </button>
                        </h2>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                        
                                        <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Partida</th>
                            <th scope="col">Debe</th>
                            <th scope="col">Haber</th>
                            <th scope="col"> # </th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for p in libro.partida %}
                            <tr>
                                <th scope="col">{{p.fecha}}</th>
                                <th scope="col">{{p.nombre}}</th>
                                <th scope="col">$ {{p.valor_debe}}</th>
                                <th scope="col">$ {{p.valor_haber}}</th>
                                <th scope="col"><a href="{{url_for('routes.add_partida', nombre=p.nombre)}}" class="btn btn-warning"><i class="fas fa-arrow-circle-right"></i></a></th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        
                        </div>
                    </div>
                </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Agregar partida
                        </button>
                    </h2>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            {# Agregar partida #}
                            <div class="modal-dialog text-dark">
                    <div class="modal-content">
                        <div class="modal-header text-white bg-dark">
                            <strong>Agregar partida</strong>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">
                                {{form2.hidden_tag()}}
                                <div class="form-group">
                                    {{form2.nombre.label}}
                                    {{form2.nombre}}
                                </div>
                                <div class="form-group">
                                    {#{{form2.fecha.label}}
                                    {{form2.fecha}}#}
                                    <label for="fecha">Fecha</label>
                                    <input type="date" name="fecha" id="fecha" class="form-group" required>
                                </div>
                                <button class="btn btn-success">Agregar</button>
                            </form>
                        </div>
                    </div>
                </div>
                            {# Termina Agregar partida #}
                        </div>
                    </div>
                </div>

            </div>

            </div>{# cerrando acordion #}

            <div class="container">

            </div>

            {% if libro.partida %}

            {% endif %}
         </div>
    {% endif %}




        
      </div>
</div>

{% endblock %}
