{% extends 'base_template.html' %}

{% block title %} Libro diario | Partidas {% endblock %}

{% block content %}
<div class="container mt-4 text-dark">
<a href="{{ url_for('routes.librodiario') }}" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-left"></i></a>
<br>
<br>
    <div class="card bg-light">

        <div class="card-body row w-100 p-3 justify-content-around">
            <div class="col-6 mt-4">
                <div class="col-sm-8">
                    <div class="modal-dialog">
                        <div class="modal-content bg-muted">
                            <div class="modal-header bg-dark text-light">
                                <strong>Agregar datos</strong>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        {{ form.id_cuenta.label }}
                                        {{ form.id_cuenta }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.valor_parcial.label }}
                                        {{ form.valor_parcial }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.cargo_abono.label }}
                                        {{ form.cargo_abono }}
                                    </div>
                                    <button class="btn btn-success"><i class="fas fa-plus-square"></i> Agregar</button>
                                </form>
                                    {% if partida_concepto %}
                                    <div class="">
                                        <form action="{{ url_for('routes.delete_partida_concepto', id_partida_concepto=partida_concepto.id_pconcepto) }}" method="post">
                                            <br>
                                            <button class="btn btn-danger " type="submit" href="{{url_for('routes.new_cuenta')}}"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                        </form>
                                    </div>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-4">
                <div class="col-xs-12">
                <h5>{{ partida.fecha }}</h5>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Concepto</th>
                            <th scope="col">Parcial</th>
                            <th scope="col">Debe</th>
                            <th scope="col">Haber</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pc in partida.pconceptos %}
                            <tr>
                                <th scope="col">{{ pc.cuenta.nombre }}</th>
                                <th scope="col">${{ pc.valor_parcial }}</th>
                                <th scope="col">{% if pc.cargo_abono %}$ {{ pc.valor_parcial }}{% else %}$ -{% endif %}</th>
                                <th scope="col">{% if not pc.cargo_abono %}$ {{ pc.valor_parcial }}{% else %}$ -{% endif %}</th>
                                <th scope="col"><a class="btn btn-warning" href="{{url_for('routes.update_c_partida', id=pc.id_pconcepto)}}"><i class="far fa-edit"></i></a></th>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                                <th scope="col" class="debe">$ {{partida.valor_debe}}</th>
                                <th scope="col" class="haber" >$ {{partida.valor_haber}}</th>
                                <th scope="col"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}