{% extends 'base_template.html' %}

{% block title %}Admin | CRUD cuenta{% endblock%}

{% block content %}
<div class="row w-100 p-3 justify-content-around">
    <div class="col-6 mt-4">
        <div class="col-sm-8">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark text-center "> Add Tipo cuenta</h5>
            </div>
            <form method="post" >
                {{form.hidden_tag()}}
                <br>
                <div class="container text-dark">
                    <div class="form-group">
                        {{form.nombre.label}}
                        {{form.nombre(size=200)}}

                    </div>
                    <div class="form-group">
                        {{form.descripcion.label}}
                        {{form.descripcion}}
                    </div>
                    <div class="form-group form-check">
                        {{form.id_tipocuenta.label}}
                        {{form.id_tipocuenta}}
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="footer">
                        <button class="btn btn-success" type="submit"><i class="fas fa-plus-square"></i> Agregar</button>
                    </div>
		                <br>
                </div>
            </form>
            <div class="modal-footer">
                {% if cuenta %}
                <div class="">
                    <form action="{{ url_for('routes.delete_cuenta', id_cuenta=cuenta.id_cuenta) }}" method="post">
                        <br>
                        <button class="btn btn-danger " type="submit" href="{{url_for('routes.new_cuenta')}}"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </form>
                </div>
                {% endif %}
                <div class="">
                    <form action="{{url_for('routes.new_cuenta')}}">
                        <br>
                        <button class="btn btn-secondary " type="submit"><i class="fas fa-window-close"></i> Cancelar</button>
                        <br>
                    </form>
                </div>
            </div>
            <br>
        </div>
        </div>
    </div>
    <div class="col-6 mt-4 ">
        <div class="col-xs-12 ">
        <div class="modal-content">
            <h5 class="modal-title text-dark text-center">Subcuentas</h5>
            <div class="list-group p-3 mb-5 bg-muted rounded" >
                <a href="#" class="list-group-item disabled text-dark " aria-disabled="true">
                    Sub-cuentas existentes
                </a>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Tipo cuenta</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in cuentas %}
                        <tr class="list-group-item-action" >
                            <th scope="row">{{c.nombre}}</th>
                            <th scope="row">{{c.descripcion}}</th>
                            <th scope="row">{{c.tipo_cuenta.nombre}}</th>
                            <th scope><a href="{{ url_for('routes.update_cuenta', id_cuenta=c.id_cuenta) }}" class="btn btn-warning"><i class="far fa-edit"></i></a></th>
                        </tr>
                        {% endfor %}
                    </tbody>
            </div>
        </div>
        </div>
</div>
</div>
{% endblock %}
