{% extends 'base_template.html' %}

{% block title %}ADMIN{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="list-group">
        <a class="list-group-item list-group-item-action bg-dark disabled" aria-current="true">
          Panel Catalogo de cuentas
        </a>
        <a href="{{url_for('routes.new_cuenta')}}" class="list-group-item list-group-item-action">Cuentas</a>
        <a href="{{url_for('routes.new_subcuenta')}}" class="list-group-item list-group-item-action">Subcuentas</a>
        <a href="{{url_for('routes.crud_tipocuenta')}}" class="list-group-item list-group-item-action">Tipo cuenta</a>
      </div>
</div>

<style>
    footer{
        position:fixed;
        left:0px;
        bottom:0px;
        width:100%;
    }
  </style>

{% endblock %}