<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/pythonico.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/all.min.js')}}"></script>
    <title>{% block title  %}  {% endblock %}</title>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>
<body class="text-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{#<img src="{{url_for('static', filename='images/logo.png')}}" alt="" width="125" height="50">#}ContApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
          <li class="nav-item ">
            <a class="nav-link" href="{{url_for('routes.index')}}"><i class="fas fa-home"></i> Home</a>
          </li>
          {% if current_user.is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('routes.home')}}"><i class="fas fa-users-cog"></i> {{ current_user.nombre }}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('routes.profile', username=current_user.username)}}"><i class="far fa-user"></i> {{ current_user.nombre }}</a>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('routes.logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Acerca de nosotros</a>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {{ toastr.include_toastr_js() }}
  {% with messages = get_flashed_messages() %}
  {% endwith %}
      {% block content %}
      {% endblock %}
      <br>
      <footer class="bg-light text-dark">
        <div class="container">
            <nav class="row">
                <div class="col-3 text-reset d-flex align-items-center">
                  <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">
                      <br>
                      <li class="text-reset">Alejandro Aragón</li>
                      <li class="text-reset">Jaime Navas</li>
                    </li>
                  </ul>
                </div>
                <div class="col-3 text-reset d-flex align-items-center">
                </div>
                <div class="col-3 text-reset d-flex align-items-center">
                    © 2021 Copyright
                </div>
                <ul class="col-3 list-unstyled">
                  <br>
                    <li class="text-center">Social networks</li>
                    <li class="d-flex justify-content-between">
                        <a href="https://github.com/" class="text-reset"><i class="fab fa-github"></i></a>
                        <a href="https://instagram.com" class="text-reset"><i class="fab fa-instagram"></i></a>
                        <a href="https://facebook.com" class="text-reset"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com" class="text-reset"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>